{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="icon" type="images/x-icon" href="{% static 'images/internship.ico' %}">
    <title>Admin_Home | UPDATE</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-md navbar-dark bl" role="navigation">
        <div class="container-fluid navbar-brand"><a style="text-decoration: none;" href="/">
                <h2 style="color: whitesmoke;">Surya<span style="color: #009ADA;">Jaganathan</span></h2>
            </a>
            <button class="navbar-toggler" type="button" data-bs-target="#home" data-bs-toggle="collapse"
                aria-controls="home" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="home">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/guardian/home" class="nav-link hl wh active" style="text-decoration: underline;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/guardian/resume" class="nav-link  hl wh">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a href="/guardian/query" class="nav-link hl wh">Query</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% static 'css/style.css' %}" class="nav-link hl">CSS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #009ADA;">
        <div class="container-fluid navbar-brand">
            <h3>Education</h3>
            <button class="navbar-toggler" type="button" data-bs-target="#resume" data-bs-toggle="collapse"
                aria-controls="resume" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="resume">
                <ul class="navbar-nav text-center ms-auto">
                    <li class="nav-item">
                        <a href="/guardian/education" class="nav-link re active" style="color: white ;">Education</a>
                    </li>
                    <li class="nav-item">
                        <a href="/guardian/intern" class="nav-link re" style="color: white;">Internship</a>
                    </li>
                    <li class="nav-item">
                        <a href="/guardian/work" class="nav-link re" style="color: white;">Work Experience</a>
                    </li>
                    <li class="nav-item">
                        <a href="/guardian/skill" class="nav-link re" style="color: white;">Knowledge</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav><br>

    <h2>Home Data Update</h2>

    <form action="" method="post" class="container">
        {% csrf_token %}
        <input type="text" name="heading" value="{{form.heading}}" class=" col form-control"> <br>
        <textarea type="text" name="content" placeholder="{{form.content}}" class=" col form-control"></textarea>
        <input type="submit" value="upload" class="btn btn-primary container">
    </form>
</body>

</html>