{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="icon" type="images/x-icon" href="{% static 'images/internship.ico' %}">
    <title>Admin | Resume</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-md navbar-dark bl" role="navigation">
        <div class="container-fluid navbar-brand"><a style="text-decoration: none;" href="/">
                <h2 style="color: whitesmoke;">Surya<span style="color: #009ADA;">Jaganathan</span></h2>
            </a>
            <button class="navbar-toggler" type="button" data-bs-target="#home" data-bs-toggle="collapse"
                aria-controls="home" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="home">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/guardian/home" class="nav-link hl wh">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/guardian/resume" class="nav-link active hl wh" style="text-decoration: underline;">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a href="/guardian/query" class="nav-link hl wh">Query</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% static 'css/style.css' %}" class="nav-link hl">CSS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #009ADA;">
        <div class="container-fluid navbar-brand">
            <h3>Qualifications</h3>
            <button class="navbar-toggler" type="button" data-bs-target="#resume" data-bs-toggle="collapse"
                aria-controls="resume" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="resume">
                <ul class="navbar-nav text-center ms-auto">
                    <li class="nav-item">
                        <a href="/guardian/education" class="nav-link re" style="color: white;">Education</a>
                    </li>
                    <li class="nav-item">
                        <a href="/guardian/intern" class="nav-link re" style="color: white;">Internship</a>
                    </li>
                    <li class="nav-item">
                        <a href="/guardian/work" class="nav-link re" style="color: white;">Work Experience</a>
                    </li>
                    <li class="nav-item">
                        <a href="/guardian/skill" class="nav-link re" style="color: white;">Knowledge</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <img src="{% static 'images/name plate.png' %}" class="img-responsive" width="100%" alt="">
    <table class="table-responsive">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        <tbody>
            <tr>
                <td class="col-sm-8"><a href="{% static 'images/surya.jpg' %}"><img
                            src="{% static 'images/surya.jpg' %}" class="col-sm-2 img-responsive" width="100%"
                            alt="Display Picture"></a></td>
                <td class="col-sm-4">
                    <h4><strong>Surya J</strong></h4>
                    <h4>Date of Birth: <strong>4<sup>th</sup>Augest 1999</strong></h4>
                </td>
            </tr>
        </tbody>
        </thead>
    </table>





</body>

</html>